* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .bodyOfStars {
    
    display:block;
    align-items: center;
    text-align: center;
    justify-content: center;
   
    font-family: "Poppins", sans-serif;
}

.cardStar {
    max-width: 15rem; /* Adjust the max-width as needed */
    background: #fff;
    justify-content: center; /* Center stars horizontally */
   
  
    width: 25%; /* Adjust the width as needed */
    height: 25%;
    border-radius: 0.5rem;
}
    .cardStar h3#output {
        margin: 0;
        padding: 0;
    }
.star {
    font-size: 4vh;
    cursor: pointer;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}
